* {
    transition: 0.3s;
}
body {
    padding: 0;
    margin: 0;
    background-color: #091218;
}
header {
    width: 100%;
    box-sizing: border-box;
    position:fixed;
    top: 0;
    left: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 40px;
    margin: 0px;
    border-bottom: 2px solid #f1c080;
    background: linear-gradient(227deg,rgb(189, 157, 92) 10.5%, rgb(232, 204, 138) 24.5%, rgb(189, 157, 92) 50%, rgb(189, 157, 92) 60%, rgb(232, 204, 138) 70%, rgb(154, 107, 59) 100%);
    z-index: 9999;
    box-shadow: 0px 5px 27px 0px rgba(0,0,0,0.59);
}
.menu-button {
    display: none;
    justify-content: center;
    align-items: center;
    width: 45px;
    height: 45px;
    background: none;
    border: none;
}
main {
    margin-top: 50px;
}
.logo {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.logo span{
    /* color: #1b6044; */
    font-weight: light;
    font-size: 25px;
    font-family: "Chiron GoRound TC", sans-serif;
    /* background: linear-gradient(227deg,rgba(201, 170, 108, 1) 21%, rgba(239, 217, 167, 1) 49%, rgba(130, 88, 45, 1) 100%); */
    padding: 10px;
    /* border-radius: 10px; */
    /* border: 2px #C9AA6C solid; */
    background-color: #1a4735;
    border: 2px solid #426a55;
    border-radius: 7px;
    box-shadow: 0px 5px 10px 0px rgba(0, 0, 0, 0.312);
    color: #C9AA6C;
}
.navigation {
    display: flex;
    gap: 10px;
    justify-content: center;
    align-items: center;
    margin-left: 4%;
}
header a {
    padding: 5px;
    text-decoration: none;
    color: #37584b;
    border-radius: 5px;
    font-family: "Gabriela", serif;
    border: 3px solid rgba(0, 0, 0, 0);
    font-weight: 600;
    font-size: 18px;
}
.header-menu-navigation {
    display: none;
    flex-direction: column;
    gap: 5px;
    opacity: 0;
    position: absolute;
}
header a:hover {
    color: #1b6044;
    border: 3px solid #1b6044;
    border-radius: 5px;
}
header .current {
    color: #1b6044;
    border: 3px solid #1b6044;
    border-radius: 5px;
}
.header-menu-contacts {
    color: #1b6044;
    font-size: 16px;
    background: none;
    border: none;
    font-weight: bold;
    margin-top: 20px;
    border-top: 3px solid #1b6044;
    padding: 20px 20px 20px 0;
    text-align: left;
    border-radius: 0;
    font-family: "Chiron GoRound TC", sans-serif;
}
.header-menu-contacts:hover {
    border: none;
    border-top: 3px solid #1b6044;
}
.header-contacts {
    color: #1b6044;
    font-size: 16px;
    background: none;
    border: none;
    font-weight: bold;
    border-radius: none;
    font-family: "Chiron GoRound TC", sans-serif;
}
.header-contacts:hover {
    border: none;
}
.hero-section {
    padding: 0;
    margin: 0;
}
.hero {
    background: linear-gradient(206deg,rgba(24, 36, 31, 1) 21%, rgba(24, 92, 58, 1) 58%, rgba(41, 87, 63, 1) 81%, rgba(46, 84, 61, 1) 100%);                                                                         
    background-size: cover;
    background-position: center;
    margin: 0;
    padding: 70px;  
    color: white;
    display: flex;
    align-items: center;
    flex-direction: row;
    justify-content: space-evenly;
}
.hero h1 {
    font-size: 50px;
    font-family: "Cormorant SC", serif;
    font-weight: 600;
    line-height: 45px;
    background: linear-gradient(227deg,rgba(201, 170, 108, 1) 21%, rgba(239, 217, 167, 1) 49%, rgb(168, 122, 76) 100%);
    background-clip: text;
    color: transparent;
    margin: 0;
    flex: 1;
}

.hero p {
    flex: 1;
    color: #a18d64;
    max-width: 75%;
    text-align: left;
    line-height: 20px;
    font-family: "Gabriela", serif;
    font-weight: lighter;
    font-size: 17px;
}
.hero-buttons {
    display: flex;
    flex-wrap: wrap;
    gap: 12px;
}
.hero button {
    flex: 1;
    padding: 15px;
    border-radius: 5px;
    border: none;
    font-family: "Gabriela", serif;
    font-weight: 300; 
    background: linear-gradient(227deg,rgba(201, 170, 108, 1) 21%, rgba(239, 217, 167, 1) 49%, rgba(130, 88, 45, 1) 100%);
    font-weight: bold;
    color: #1a4735;
    border: 2px solid #C9AA6C;
    font-size: 20px;
}
.hero button:hover {
    background: #213b4800;
    border: 2px solid #C9AA6C;
    color: #C9AA6C;
}
.hero .hero-call-us {
    background: none;
    background-color: #213b4800;
    color: #C9AA6C;
    border: 2px solid #C9AA6C;
}
.hero .hero-call-us:hover {
    background: linear-gradient(227deg,rgba(201, 170, 108, 1) 21%, rgba(239, 217, 167, 1) 49%, rgba(130, 88, 45, 1) 100%);
    color: #1a4735;
}
.hero-left {
    max-width: 40%;
    height: fit-content;
    float: left;
    padding: 20px;
    background-color: #1a4735;
    border: 2px solid #426a55;
    border-radius: 7px;
    display: flex;
    flex-direction: column;
    align-items: left;
    justify-content: space-between;
    gap: 12px;
    box-shadow: 0px 5px 23px 5px rgba(0,0,0,0.49);
}
.hero-left.is-warped {
    background-color: red;
}
.hero-right img{
    max-width: 75%;
    max-height: 800px;
    float: right;
    border: 2px solid #426a55;
    border-radius: 7px;
    box-shadow: 0px 5px 23px 5px rgba(0,0,0,0.49);
}
.hero-right {
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: right;
    width: fit-content;
}
.stats {
    display: flex;
    padding: 50px;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 15%;
    background: linear-gradient(227deg,rgb(189, 157, 92) 10.5%, rgb(232, 204, 138) 24.5%, rgb(189, 157, 92) 50%, rgb(189, 157, 92) 60%, rgb(232, 204, 138) 70%, rgb(154, 107, 59) 100%);
    border-top: solid 2px #f1c080;
    border-bottom: solid 2px #f1c080;
}
.stats div {
    display: flex;
    width: 100px;
    margin: 20px 0;
    text-align: center;
    flex-direction: column;
    align-items: center;
    color: #1b6044;
    font-family: "Gabriela", serif;
    font-weight: bold;
    font-size: 35px;
}
.stats p {
    font-size: 20px;
    margin: 0;
}
.stats h4 {
    margin: 0;
    padding: 0;
}
.services-section {
    padding: 40px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
    background: linear-gradient(45deg,rgba(24, 36, 31, 1) 21%, rgba(24, 92, 58, 1) 58%, rgba(41, 87, 63, 1) 81%, rgba(46, 84, 61, 1) 100%);
}
.services-section p {
    color: #a18d64;
    font-size: 16px;
    font-family: "Huninn", sans-serif;
    letter-spacing: 2px;
    text-transform: uppercase;
    margin: 0;
}
.services-section h2 {
    background: linear-gradient(227deg,rgba(201, 170, 108, 1) 21%, rgba(239, 217, 167, 1) 49%, rgb(168, 122, 76) 100%);
    background-clip: text;
    color: transparent;
    text-transform: uppercase;
    font-size: 40px;
    font-family: "Cormorant SC", serif;
    font-weight: 600;
    letter-spacing: 2px;
    padding: 20px;
    margin: 0;
    /* border-bottom: 5px solid #dc9f4e;
    box-shadow: 0px 31px 29px -26px rgba(98,100,58,0.77); */
}
.services {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin-top: 30px;
    z-index: 2;
}
.services div {
    max-width: 300px;
    margin: 50px;
    padding: 20px;
    background-color: #1a4735;
    border: 2px solid #426a55;
    border-radius: 7px;
    box-shadow: 0px 5px 23px 5px rgba(0,0,0,0.49);
}
.services div:hover {
    box-shadow: 0px 5px 23px 10px rgba(0,0,0,0.49);
}
.services h4 {
    background: linear-gradient(227deg,rgba(201, 170, 108, 1) 21%, rgba(239, 217, 167, 1) 49%, rgb(168, 122, 76) 100%);
    background-clip: text;
    color: transparent;
    font-size: 25px;
    font-family: "Cormorant SC", serif;
    font-weight: 600;
}
.services p {
    font-size: 16px;
    font-family: "Gabriela", serif;
    text-transform: none;
    color: #a18d64;
}
.services-header {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 20px;
    background-color: #1a4735;
    border: 2px solid #426a55;
    border-radius: 7px;
    box-shadow: 0px 5px 23px 5px rgba(0,0,0,0.49);
    z-index: 2;
}
.services-gold-line {
    z-index: 0;
    position: absolute;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    width: 75px;
    height: 100%;
    background: linear-gradient(rgba(239, 217, 167, 1) 0%,  rgba(201, 170, 108, 1) 50%,  rgb(168, 122, 76) 100%);
}
@media (max-width: 1120px) {
    .hero {
        justify-content: center;
        align-items: center;
        padding: 20px;
        padding-top: 80px;
    }
    .hero-right {
        justify-content: center;
    }
    .hero-right img {
        max-height: 740px;
    }
}
@media (max-width: 955px) {
    .hero {
        gap: 20px;
        flex-direction: column-reverse;
    }
    .hero-right img {
        max-height: 400px;
    }
    .hero-left {
        max-width: 90%;
    }
    .hero-left h1 {
        font-size: 30px;
        line-height: 30px;
    }
}
@media (max-width:576px) {
    .hero-left h1 {
        font-size: 22px;
        line-height: 20px;
    }
    .services div {
        margin: 25px;
        text-align: center;
    }
    .services-header h2 {
        font-size: 30px;
    }
    .services-header p {
        font-size: 16px;
        letter-spacing: 1px;
    }
    .services div h4 {
        margin: 10px;
    }
}
@media (max-width: 1106px) {
    .navigation {
        display: none;
    }
    .header-contacts {
        display: none;
    }
    .menu-button {
        display: flex;
    }
    header {
        display: flex;
        flex-direction: column;
        align-items: start;
    }
    .logo {
        width: 100%;
    }
    .header-menu-navigation {
        opacity: 1;
        position: initial;
    }
}
.menu-icon .icon-line,
.menu-icon .icon-dot {
  transition: transform 0.4s cubic-bezier(0.4, 0, 0.2, 1), opacity 0.3s ease;
  transform-origin: center;
}
.menu-icon.is-active .icon-dot {
  opacity: 0;
}
.menu-icon.is-active .line-middle {
  opacity: 0;
  transform: scaleX(0);
}
.menu-icon.is-active .line-top {
  transform:  rotate(45deg) scale(1.5) translateX(0) translateY(100px);
}
.menu-icon.is-active .line-bottom {
  transform: translateX(-40px) rotate(-45deg) scale(1.5) translateY(-65px);
}

