html {
    scroll-behavior: smooth;
}
* {
    transition: 0.3s;
}
body {
    padding: 0;
    margin: 0;
    background-color: #C9AA6C;
}
header {
    width: 100%;
    box-sizing: border-box;
    position:fixed;
    top: 0;
    left: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 40px;
    margin: 0px;
    border-bottom: 2px solid #f1c080;
    background: linear-gradient(227deg,rgb(189, 157, 92) 10.5%, rgb(232, 204, 138) 24.5%, rgb(189, 157, 92) 50%, rgb(189, 157, 92) 60%, rgb(232, 204, 138) 70%, rgb(154, 107, 59) 100%);
    z-index: 9999;
    box-shadow: 0px 5px 27px 0px rgba(0,0,0,0.59);
}
.menu-button {
    display: none;
    justify-content: center;
    align-items: center;
    width: 45px;
    height: 45px;
    background: none;
    border: none;
}
main {
    margin-top: 50px;
}
.logo {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.logo-logo {
    font-size: 25px;
    padding: 10px;
    border-radius: 7px;
    box-shadow: 0px 5px 10px 0px rgba(0, 0, 0, 0.312);
    color: #C9AA6C;
    background: linear-gradient(227deg,rgba(201, 170, 108, 1) 21%, rgba(239, 217, 167, 1) 49%, rgba(130, 88, 45, 1) 100%);
    border: 3px solid #b08151;
    color: #1b6044;
    font-weight: bold;
    font-family: "Gabriela", serif;
}
.logo-logo:hover {
    border: 3px solid #b08151;
}
.logo-logo span {
    font-family: "Chiron GoRound TC", sans-serif;
}
.navigation {
    display: flex;
    gap: 10px;
    justify-content: center;
    align-items: center;
    margin-left: 4%;
    text-align: center;
}
header a {
    padding: 5px;
    text-decoration: none;
    color: #37584b;
    border-radius: 5px;
    font-family: "Gabriela", serif;
    border: 3px solid rgba(0, 0, 0, 0);
    font-weight: 600;
    font-size: 18px;
}
.header-menu-navigation {
    display: none;
    flex-direction: column;
    gap: 5px;
    opacity: 0;
    position: absolute;
}
header a:hover {
    color: #1b6044;
    border: 3px solid #1b6044;
    border-radius: 5px;
}
header .current {
    color: #1b6044;
    border: 3px solid #1b6044;
    border-radius: 5px;
}
.header-menu-contacts {
    color: #1b6044;
    font-size: 16px;
    background: none;
    border: none;
    font-weight: bold;
    margin-top: 20px;
    border-top: 3px solid #1b6044;
    padding: 20px 20px 20px 0;
    border-radius: none;
    font-family: "Chiron GoRound TC", sans-serif;
}
.header-menu-contacts:hover {
    border: none;
    border-top: 3px solid #1b6044;
}
.header-contacts {
    color: #1b6044;
    font-size: 16px;
    background: none;
    border: none;
    font-weight: bold;
    border-radius: none;
    font-family: "Chiron GoRound TC", sans-serif;
    text-align: center;
}
.header-contacts:hover {
    border: none;
}
.hero-section {
    padding: 0;
    margin: 0;
}
.hero {
    background: linear-gradient(206deg,rgba(24, 36, 31, 1) 21%, rgba(24, 92, 58, 1) 58%, rgba(41, 87, 63, 1) 81%, rgba(46, 84, 61, 1) 100%);                                                                         
    background-size: cover;
    background-position: center;
    margin: 0;
    padding: 70px;  
    color: white;
    display: flex;
    align-items: center;
    flex-direction: row;
    justify-content: space-evenly;
}
.hero h1 {
    font-size: 50px;
    font-family: "Cormorant SC", serif;
    font-weight: 600;
    line-height: 45px;
    background: linear-gradient(227deg,rgba(201, 170, 108, 1) 21%, rgba(239, 217, 167, 1) 49%, rgb(168, 122, 76) 100%);
    background-clip: text;
    color: transparent;
    margin: 0;
    flex: 1;
}

.hero p {
    flex: 1;
    max-width: 75%;
    text-align: left;
    color: #a18d64;
    line-height: 20px;
    font-family: "Gabriela", serif;
    font-weight: lighter;
    font-size: 17px;
}
.hero-buttons {
    display: flex;
    flex-wrap: wrap;
    gap: 12px;
}
.hero a, .services-page-services a,
.services-page-consulation-card a,
.articles a,
.cases-section-cases a,
.cases-page a,
.cases-all-cases,
.articles-all-articles,
.article-article a,
.contacts-section a {
    flex: 1;
    padding: 15px;
    border-radius: 5px;
    border: none;
    font-family: "Gabriela", serif;
    font-weight: 300; 
    background: linear-gradient(227deg,rgba(201, 170, 108, 1) 21%, rgba(239, 217, 167, 1) 49%, rgba(130, 88, 45, 1) 100%);
    font-weight: bold;
    color: #1a4735;
    border: 2px solid #C9AA6C;
    font-size: 20px;
    text-decoration: none;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
}
.cases-page a {
    max-height: 30px;
    min-height: 30px;
    height: 30px;
}
.hero a:hover, .services-page-services a:hover,
.services-page-consulation-card a:hover,
.articles a:hover,
.articles-all-articles:hover,
.cases-section-cases a:hover,
.cases-page a:hover,
.cases-all-cases:hover,
.article-article a:hover,
.contacts-section a:hover {
    background: #213b4800;
    border: 2px solid #C9AA6C;
    color: #C9AA6C;
}
.article-article a {
    width: 90%;

    box-sizing: border-box;
}
.hero .hero-call-us,
.article-consultation .article-call-us,
.contacts-section .contacts-section-call-us {
    background: none;
    background-color: #213b4800;
    color: #C9AA6C;
    border: 2px solid #C9AA6C;
}
.hero .hero-call-us:hover,
.article-consultation .article-call-us:hover,
.contacts-section .contacts-section-call-us:hover {
    background: linear-gradient(227deg,rgba(201, 170, 108, 1) 21%, rgba(239, 217, 167, 1) 49%, rgba(130, 88, 45, 1) 100%);
    color: #1a4735;
}
.hero-left {
    max-width: 40%;
    height: fit-content;
    float: left;
    padding: 20px;
    background-color: #1a4735;
    border: 2px solid #426a55;
    border-radius: 7px;
    display: flex;
    flex-direction: column;
    align-items: left;
    justify-content: space-between;
    gap: 12px;
    box-shadow: 0px 5px 23px 5px rgba(0,0,0,0.49);
}
.hero-left.is-warped {
    background-color: red;
}
.hero-right img{
    max-width: 75%;
    max-height: 800px;
    float: right;
    border: 2px solid #426a55;
    border-radius: 7px;
    box-shadow: 0px 5px 23px 5px rgba(0,0,0,0.49);
}
.hero-right {
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: right;
    width: fit-content;
}
.article-article .case-result {
    background: none;
    color: #1b6044;
    background: linear-gradient(90deg,rgba(239, 217, 167, 1) 0%,  rgba(201, 170, 108, 1) 50%,  rgb(168, 122, 76) 100%);
    padding: 10px 20px;
    font-size: 20px;
    border: 2px solid #f1c080;
    border-radius: 10px;
    font-weight: bold;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
}
.article-article .case-result svg {
    padding: 10px;
}
.stats {
    display: flex;
    padding: 50px;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 15%;
    background: linear-gradient(227deg,rgb(189, 157, 92) 10.5%, rgb(232, 204, 138) 24.5%, rgb(189, 157, 92) 50%, rgb(189, 157, 92) 60%, rgb(232, 204, 138) 70%, rgb(154, 107, 59) 100%);
    border-top: solid 2px #f1c080;
    border-bottom: solid 2px #f1c080;
}
.stats div {
    display: flex;
    width: 100px;
    margin: 20px 0;
    text-align: center;
    flex-direction: column;
    align-items: center;
    color: #1b6044;
    font-family: "Gabriela", serif;
    font-weight: bold;
    font-size: 35px;
}
.stats p {
    font-size: 20px;
    margin: 0;
}
.stats h4 {
    margin: 0;
    padding: 0;
}
.services-section,
.articles-section,
.cases-section,
.reviews-section {
    padding: 40px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
    background: linear-gradient(45deg,rgba(24, 36, 31, 1) 21%, rgba(24, 92, 58, 1) 58%, rgba(41, 87, 63, 1) 81%, rgba(46, 84, 61, 1) 100%);
}
.services-section p,
.articles-section p,
.cases-section p,
.reviews-section p {
    color: #a18d64;
    font-size: 16px;
    font-family: "Huninn", sans-serif;
    letter-spacing: 2px;
    text-transform: uppercase;
    margin: 0;
}
.services-section h2,
.articles-section h2,
.cases-section h2,
.reviews-section h2 {
    background: linear-gradient(227deg,rgba(201, 170, 108, 1) 21%, rgba(239, 217, 167, 1) 49%, rgb(168, 122, 76) 100%);
    background-clip: text;
    color: transparent;
    text-transform: uppercase;
    font-size: 40px;
    font-family: "Cormorant SC", serif;
    font-weight: 600;
    letter-spacing: 2px;
    padding: 20px;
    margin: 0;
}
.reviews-header h2,
.reviews-header p{
    color: #1b6044;
    background: none;
    text-align: center;
}
.reviews-header p {
    font-weight: bold;
}
.services, .articles,
.cases-section-cases,
.cases-page,
.reviews-reviews{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin-top: 30px;
    z-index: 2;
}
.services div,
.articles div,
.cases-section-cases div,
.cases-page div,
.reviews-reviews div {
    max-width: 300px;
    margin: 50px;
    padding: 20px;
    background-color: #1a4735;
    border: 2px solid #426a55;
    border-radius: 7px;
    box-shadow: 0px 5px 23px 5px rgba(0,0,0,0.49);
    position: relative;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.services div:hover,
.articles div:hover,
.cases-section-cases div:hover,
.cases-page div:hover,
.reviews-reviews div:hover {
    box-shadow: 0px 5px 23px 10px rgba(0,0,0,0.49);
}
.cases-page div {
    max-width: 20%;
}
.reviews-reviews {
    gap: 40px;
    max-width: 80%;
}
.reviews-reviews div {
    width: 100%;
    max-width: 600px;
    display: flex;
    box-sizing: border-box;
    flex-direction: column;
    align-items: center;
    margin: 20px 0;
    align-items: start;
    gap: 30px;
}
.reviews-reviews div p{
    color: #a18d64;
}
.reviews-reviews div div {
    border: none;
    background: none;
    width: 100%;
    box-shadow: none;
    display: flex;
    flex-direction: row;
    padding: 10px;
    margin: 0;
    justify-content: space-between;
    align-self: center;
    border-bottom: 2px solid #C9AA6C;
    border-radius: 0;
    padding-bottom: 20px;
}
.reviews-reviews div div:hover {
    box-shadow: none;
}
.reviews-reviews .reivew-content {
    text-transform: none;
    font-family: "Gabriela", serif;
}
.reviews-reviews .reviews-rating {
    color: #f6b765;
}
.reviews-reviews .review-category,
.reviews-reviews .review-date {
    color: #cfb586;
}
.services h3,
.articles h4,
.cases-section-cases h4,
.cases-page h4 {
    background: linear-gradient(227deg,rgba(201, 170, 108, 1) 21%, rgba(239, 217, 167, 1) 49%, rgb(168, 122, 76) 100%);
    background-clip: text;
    color: transparent;
    font-size: 25px;
    font-family: "Cormorant SC", serif;
    font-weight: 600;
}
.services p,
.articles p,
.cases-section-cases p,
.cases-page p {
    font-size: 16px;
    font-family: "Gabriela", serif;
    text-transform: none;
    color: #a18d64;
}
.services-header,
.articles-header,
.cases-section-cases-header,
.reviews-header {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 20px;
    background-color: #1a4735;
    border: 2px solid #426a55;
    border-radius: 7px;
    box-shadow: 0px 5px 23px 5px rgba(0,0,0,0.49);
    z-index: 2;
}
.reviews-header {
    background: linear-gradient(227deg,rgba(201, 170, 108, 1) 21%, rgba(239, 217, 167, 1) 49%, rgba(130, 88, 45, 1) 100%);
    border: 2px solid #C9AA6C;
}
.services-gold-line {
    z-index: 0;
    position: absolute;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    width: 75px;
    height: 100%;
    background: linear-gradient(rgba(239, 217, 167, 1) 0%,  rgba(201, 170, 108, 1) 50%,  rgb(168, 122, 76) 100%);
}
.articles-section,
.cases-section,
.reviews-section {
    border-top: 2px solid #C9AA6C;
    align-items: center;
    padding: 5%;
    background: linear-gradient(135deg,rgba(24, 36, 31, 1) 21%, rgba(24, 92, 58, 1) 58%, rgba(41, 87, 63, 1) 81%, rgba(46, 84, 61, 1) 100%);
    background-color: #f1c080;
}
.articles p,
.cases-section-cases p,
.cases-page p {
    margin: 30px 0;
}
.articles div,
.cases-section-cases div {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.articles a,
.cases-section-cases a {
    max-height: 25px;
}
.articles .articles-category {
    text-transform: uppercase;
    margin: 10px 0;
}
.articles-all-articles,
.cases-all-cases {
    max-width: 300px;
    width: 100%;
    margin-top: 60px;
    height: 1px;
    box-shadow: 0px 5px 23px 5px rgba(0,0,0,0.49);
}
.services-page,
.articles-page,
.article-page {
    background: linear-gradient(206deg,rgba(24, 36, 31, 1) 21%, rgba(24, 92, 58, 1) 58%, rgba(41, 87, 63, 1) 81%, rgba(46, 84, 61, 1) 100%);
    padding: 100px 10%;
    display: flex;
    flex-direction: column;
    gap: 50px;
    min-height: 1080px;
    align-items: center;
}
.articles-page {
    padding: 100px 40px;
}
.services-page-title,
.articles-page-title,
.article-page-title,
.article-article  {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #1a4735;
    border: 2px solid #426a55;
    border-radius: 7px;
    box-shadow: 0px 5px 23px 5px rgba(0,0,0,0.49);
    max-width: 800px;
    width: 80%;
}
.article-page-title,
.article-article {
    max-width: 80%;
    align-items: start;
    padding: 40px;
}
.article-page-back-button {
    color: #a18d64;
    font-size: 16px;
    font-family: "Huninn", sans-serif;
    text-decoration: none;
    font-size: 16px;
    text-transform: uppercase;
    font-weight: bold;
    margin: 20px 0;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    border: 2px solid #C9AA6C;
    padding: 6px 14px;
    border-radius: 10px;
    position: fixed;
    bottom: 20px;
    left: 20px;
    background-color: #1b6044;
    box-shadow: 0px 5px 23px 5px rgba(0,0,0,0.49);
    z-index: 99999;
}
.article-page-back-button:hover {
    box-shadow: 0px 5px 23px 10px rgba(0,0,0,0.49);
    color: #f1c080;
}
.article-page-back-button:hover svg {
    fill: #f1c080;
}
.article-page-back-button svg {
    min-width: 30px;
    min-height: 30px;
}
.services-page-title p,
.articles-page-title p {
    color: #a18d64;
    font-size: 16px;
    font-family: "Huninn", sans-serif;
    letter-spacing: 2px;
    text-transform: uppercase;
    margin: 20px;
}
.services-page-title .services-page-description,
.articles-page-title .articles-page-description,
.article-page-title .article-page-description,
.article-article p {
    max-width: 80%;
    text-align: center;
    color: #a18d64;
    line-height: 20px;
    font-family: "Gabriela", serif;
    font-weight: lighter;
    font-size: 18px;
    text-transform: none;
}
.cases-section-cases .cases-section-cases-category,
.cases-page .cases-section-cases-category {
    padding: 20px 0;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 0;
    max-width: 100%;
    width: 100%;
    border: none;
    border-bottom: 2px solid #f1c080;
    border-radius: 0px;
    box-shadow: none;
    justify-content: space-between;
    align-self: center;
    position: absolute;
    top: 0;
    left: 0;
    background: linear-gradient(90deg,rgba(239, 217, 167, 1) 0%,  rgba(201, 170, 108, 1) 50%,  rgb(168, 122, 76) 100%);
}
.cases-section-cases-category p {
    font-size: 14px;
    color: #1b6044;
    padding: 0 15px;
    margin: 0;
    font-weight: bolder;
    font-family: "Huninn", sans-serif;
}
.cases-section-cases-category p:last-child {
    text-align: end;
}
.cases-section-cases .cases-section-cases-category:hover,
.cases-page .cases-section-cases-category:hover {
    box-shadow: none;
}
.cases-section-cases div h4,
.cases-page div h4 {
    margin-top: 60px;
}
.reviews-section {
    position: relative;
    background: linear-gradient(315deg,rgba(24, 36, 31, 1) 21%, rgba(24, 92, 58, 1) 58%, rgba(41, 87, 63, 1) 81%, rgba(46, 84, 61, 1) 100%);
}
.contacts-section {
    background: linear-gradient(315deg,rgba(24, 36, 31, 1) 21%, rgba(24, 92, 58, 1) 58%, rgba(41, 87, 63, 1) 81%, rgba(46, 84, 61, 1) 100%);
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 50px 10%;
}
.contacts-section div {
    width: 100%;
    padding: 40px;
    background-color: #1a4735;
    border: 2px solid #426a55;
    box-shadow: 0px 5px 23px 5px rgba(0,0,0,0.49);
    border-radius: 7px; 
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.contacts-section div div {
    background: none;
    border: none;
    box-shadow: none;
    display: flex;
    gap: 20px;
    flex-direction: row;
    flex-wrap: wrap;
    width: 70%;
    border-top: 2px solid #C9AA6C;
    border-radius: 0px;
}
.reviews-gradient {
    position: absolute;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    width: 100%;
    height: 100%;
    z-index: 0;
    border-bottom: 2px solid #C9AA6C;
    
}
.article-page .article-page-description {
    border-bottom: 2px solid #C9AA6C;
    padding: 3px;
    margin-top: 35px;
    font-size: 22px;
}
.article-article {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: start;
    gap: 20px;
}
.article-article span {
    background: linear-gradient(227deg,rgba(201, 170, 108, 1) 21%, rgba(239, 217, 167, 1) 49%, rgb(168, 122, 76) 100%);
    background-clip: text;
    color: transparent;
    font-size: 25px;
}
.article-article p {
    text-align: left;
    font-size: 20px;
    line-height: 40px;
    white-space: pre-wrap;
    border-right: 2px solid #f1c080;
    padding: 20px;
    margin: 20px;
    width: 60%;
}
.article-article .article-bold {
    background: none;
    color: #a18d64;
    font-weight: bold;
    font-size: 22px;
}
.article-consultation {
    display: flex;
    flex-direction: column;
    gap: 10px;
    align-items: center;
    border-radius: 10px;
    border: 2px solid #426a55;
    padding: 20px;
    box-shadow: 0px 5px 23px 5px rgba(0,0,0,0.49);
    flex: 1;
    position: sticky;
    top: 120px;
    align-self: flex-start;
    height: max-content;
}
.article-consultation p {
    font-size: 18px;
    line-height: normal;
    border: none;
    margin: auto;
}
.services-page-title h1,
.articles-page-title h1,
.article-page-title h1 {
    background: linear-gradient(227deg,rgba(201, 170, 108, 1) 21%, rgba(239, 217, 167, 1) 49%, rgb(168, 122, 76) 100%);
    background-clip: text;
    color: transparent;
    font-size: 35px;
    font-family: "Cormorant SC", serif;
    font-weight: 600;
    margin: 0;
    text-align: center;
}
.services-page-services {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 5%;
}
.services-page-services-card {
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: space-between;
    background-color: #1a4735;
    border: 2px solid #426a55;
    border-radius: 7px;
    gap: 5px;
    padding: 20px;
    min-width: 400px;
    max-width: 400px;
    min-height: 450px;
    margin: 40px 0;
    box-shadow: 0px 5px 23px 5px rgba(0,0,0,0.49);
}
.services-page-services-card svg {
    margin: 10px;
    min-width: 20px;
    min-height: 20px;
}
.services-page-services h4 {
    background: linear-gradient(227deg,rgba(201, 170, 108, 1) 21%, rgba(239, 217, 167, 1) 49%, rgb(168, 122, 76) 100%);
    background-clip: text;
    color: transparent;
    font-size: 30px;
    font-family: "Cormorant SC", serif;
    font-weight: 600;
    margin: 0;
    padding: 0;
}
.services-page-services-points {
    display: flex;
    flex-direction: column;
    gap: 5px;
}
.services-page-services p,
.contacts-section p {
    color: #a18d64;
    display: flex;
    align-items: center;
    text-align: left;
    gap: 5px;
    padding: 0;
    margin: 5px;
    font-family: "Gabriela", serif;
    font-weight: lighter;
    font-size: 16px;
    text-transform: none;
}
.contacts-section p {
    text-align: center;
    font-size: 20px;
    padding: 20px;
    width: 65%;
}
.services-page-services a {
    margin: 0;
    align-self: center;
    display: flex;
    width:  100%;
    box-sizing: border-box;
    max-height: 70px;
}
.services-page-consultation {
    border-top: 2px solid #C9AA6C;
    background: linear-gradient(26deg,rgba(24, 36, 31, 1) 21%, rgba(24, 92, 58, 1) 58%, rgba(41, 87, 63, 1) 81%, rgba(46, 84, 61, 1) 100%);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.services-page-consulation-card {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: #1a4735;
    border: 2px solid #426a55;
    border-radius: 7px;
    padding: 20px;
    margin: 40px;
}
.services-page-consulation-card p {
    color: #a18d64;
    font-size: 16px;
    font-family: "Huninn", sans-serif;
    letter-spacing: 2px;
    text-transform: uppercase;
    margin: 20px;
    text-align: center;
}
.services-page-consulation-card h3,
.contacts-section h2 {
    background: linear-gradient(227deg,rgba(201, 170, 108, 1) 21%, rgba(239, 217, 167, 1) 49%, rgb(168, 122, 76) 100%);
    background-clip: text;
    color: transparent;
    font-size: 35px;
    font-family: "Cormorant SC", serif;
    font-weight: 600;
    margin: 0;
    padding: 0;
    text-align: center;
}
.contacts-section h2 {
    border-bottom: 2px solid #C9AA6C;
    margin: 20px;
    padding: 20px;
    width: 60%;
}
.services-page-consulation-card a {
    margin: 30px 0 0 0;
}
@media (max-width: 1573px) {
    .article-page {
        padding: 100px 5%;
    }
    .reviews-reviews {
        max-width: 100%;
    }
}
@media (max-width: 1120px) {
        .cases-page div {
        max-width: 50%;
    }
    .hero {
        justify-content: center;
        align-items: center;
        padding: 20px;
        padding-top: 80px;
    }
    .hero-right {
        justify-content: center;
    }
    .hero-right img {
        max-height: 740px;
    }
}
@media (max-width: 955px) {
    .contacts-section {
        padding: 40px 5%;
    }
    .contacts-section div div{
        padding: 40px 10px;
        width: 100%;
    }
    .contacts-section h2,
    .contacts-section p {
        width: 90%;
    }
    .hero {
        gap: 20px;
        flex-direction: column-reverse;
    }
    .hero-right img {
        max-height: 400px;
    }
    .hero-left {
        max-width: 90%;
    }
    .hero-left h1 {
        font-size: 30px;
        line-height: 30px;
    }
    .articles div,
    .cases-section-cases div,
    .cases-page div {
        max-width: 100%;
        width: 100%;
        margin: 50px 0;
    }
    .articles-page-title {
    max-width: 100%;
    width: 100%;
    }
    .article-article {
        padding: 30px 0;
        width: 100%;
        max-width: calc(90% + 30px);
    }
    .article-article p {
        line-height: 30px;
        padding: 0;
        padding-bottom: 20px;
        margin: 0;
    }
    .article-consultation {
        max-width: 80%;
    }
}
@media (max-width:576px) {
    .hero-left h1 {
        font-size: 22px;
        line-height: 20px;
    }
    .services div {
        margin: 25px;
        text-align: center;
    }
    .services-header h2,
    .articles-header h2,
    .cases-section-cases-header h2 {
        font-size: 30px;
        text-align: center;
    }
    .services-header p {
        font-size: 16px;
        letter-spacing: 1px;
    }
    .services div h3 {
        margin: 10px;
    }
    .services-page-services-card {
        min-width: 0;
        max-width: 500px;
    }
}
@media (max-width: 1109px) {
    .navigation {
        display: none;
    }
    .header-contacts {
        display: none;
    }
    .menu-button {
        display: flex;
    }
    header {
        display: flex;
        flex-direction: column;
        align-items: start;
    }
    .logo {
        width: 100%;
    }
    .header-menu-navigation {
        opacity: 1;
        position: initial;
    }
    .article-article {
        flex-direction: column;
        align-items: center;
    }
    .article-article p {
        border: none;
        border-bottom: 2px solid #f1c080;
        width: 100%;
    }
    .article-page-title h1{
        text-align: left;
    }
    .article-consultation p {
        border: none;
    }
    .article-consultation {
        align-self: center;
    }
}
.menu-icon .icon-line,
.menu-icon .icon-dot {
  transition: transform 0.4s cubic-bezier(0.4, 0, 0.2, 1), opacity 0.3s ease;
  transform-origin: center;
}
.menu-icon.is-active .icon-dot {
  opacity: 0;
}
.menu-icon.is-active .line-middle {
  opacity: 0;
  transform: scaleX(0);
}
.menu-icon.is-active .line-top {
  transform:  rotate(45deg) scale(1.5) translateX(0) translateY(100px);
}
.menu-icon.is-active .line-bottom {
  transform: translateX(-40px) rotate(-45deg) scale(1.5) translateY(-65px);
}

